# MapTiler API Key - Get your free key from https://www.maptiler.com/
NEXT_PUBLIC_MAPTILER_API_KEY=your_maptiler_api_key_here

# ExchangeRate API Key - Get your free key from https://www.exchangerate-api.com/
EXCHANGERATE_API_KEY=your_exchangerate_api_key_here 